body{
    font-size: 24px;
}
.wrapper {
    background: lightblue;

    margin: 24px;

    padding: 24px;
}
.link:hover {
    background-color: yellow;
}

.img-headshot {
    width: 600px;
    height: 800px;
    background-image: url(Headshot.jpeg);
    background-size: 100%;
}

.header {
    color: peachpuff;
}